<template>
  <div id="app">
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      
          <div class="container">
      
              <a class="navbar-brand" href="#">CMS</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
      
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  
                    <li class="nav-item" v-for="page in pages">
                      <!--<a class="nav-link" href="">{{ page.Title }}</a>-->
                      <router-link class="nav-link"  :to="{ name: 'page', params: { id: page.ID }}">{{ page.Title }}</router-link>
                    </li>
                </ul>
              </div>
      
          </div>
      
      
      </nav>
      
      
      <div class="container pt-5">
        
        <router-view></router-view>
        
      </div>  
    
  </div>
</template>

<script>

import axios from 'axios';

  
export default {
  name: 'app',
  data: function () {
      return {
          pages: [],
      }
  },
  mounted: function() {
    this.getPages()
  },
  methods: {
    getPages: function() {
    // GET /someUrl
    
      axios.get('http://localhost:1323/pages').then(response => {
        // JSON responses are automatically parsed.
        this.pages = response.data
      })
      .catch(e => {
        this.errors.push(e)
      })
    }
  }
}
</script>

<style>
</style>
