<template>
  <div class="page">
    <h1>{{ page.Title }}</h1>
    <div class="">
      {{ page.Content }}
    </div>
  </div>
</template>

<script>
  
import axios from 'axios';
  
export default {
  name: 'Page',
  data () {
    return {
      page: {}
    }
  },
  mounted: function() {
    this.getPage();
  },
  watch: {
    '$route.params.id': function (id) {
      this.getPage();
    }
  },
  methods: {
    getPage: function() {
    // GET /someUrl
      var id = this.$route.params.id
    
      axios.get('http://localhost:1323/page/' + id).then(response => {
        // JSON responses are automatically parsed.
        this.page = response.data
      })
      .catch(e => {
        this.errors.push(e)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
