{{ define "page"}}

{{ template "header" . }}



    <h1>{{ .Page.Title }}</h1>


    <div class="page-content">
        
        {{ .Page.Content }}
        
    </div>


{{ template "footer" }}


{{ end }}